In [62]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split #the function to split the data
from sklearn.neighbors import KNeighborsClassifier #the object class we need
from sklearn.preprocessing import normalize

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [63]:
# Read csv file titanic.csv and make it readble
df = pd.read_csv('titanic.csv')

In [64]:
df1 = df[['Survived', 'Sex', 'Pclass', 'SibSp', 'Parch']]

In [65]:
df1 = df1.dropna()

In [66]:
df1

     Survived     Sex  Pclass  SibSp  Parch
0           0    male       3      1      0
1           1  female       1      1      0
2           1  female       3      0      0
3           1  female       1      1      0
4           0    male       3      0      0
5           0    male       3      0      0
6           0    male       1      0      0
7           0    male       3      3      1
8           1  female       3      0      2
9           1  female       2      1      0
10          1  female       3      1      1
11          1  female       1      0      0
12          0    male       3      0      0
13          0    male       3      1      5
14          0  female       3      0      0
15          1  female       2      0      0
16          0    male       3      4      1
17          1    male       2      0      0
18          0  female       3      1      0
19          1  female       3      0      0
20          0    male       2      0      0
21          1    male       2      0      0
22          1  female       3      0      0
23          1    male       1      0      0
24          0  female       3      3      1
25          1  female       3      1      5
26          0    male       3      0      0
27          0    male       1      3      2
28          1  female       3      0      0
29          0    male       3      0      0
..        ...     ...     ...    ...    ...
861         0    male       2      1      0
862         1  female       1      0      0
863         0  female       3      8      2
864         0    male       2      0      0
865         1  female       2      0      0
866         1  female       2      1      0
867         0    male       1      0      0
868         0    male       3      0      0
869         1    male       3      1      1
870         0    male       3      0      0
871         1  female       1      1      1
872         0    male       1      0      0
873         0    male       3      0      0
874         1  female       2      1      0
875         1  female       3      0      0
876         0    male       3      0      0
877         0    male       3      0      0
878         0    male       3      0      0
879         1  female       1      0      1
880         1  female       2      0      1
881         0    male       3      0      0
882         0  female       3      0      0
883         0    male       2      0      0
884         0    male       3      0      0
885         0  female       3      0      5
886         0    male       2      0      0
887         1  female       1      0      0
888         0  female       3      1      2
889         1    male       1      0      0
890         0    male       3      0      0

[891 rows x 5 columns]

In [67]:
male_female = pd.get_dummies(df1['Sex'])

In [68]:
df_final = pd.concat([df1, male_female], axis=1)
X = df_final[['male', 'female', 'Pclass', 'SibSp', 'Parch']]
X = normalize(X)
y = df_final['Survived'] #creating the y vector

In [69]:

X_train_k, X_test_k, y_train_k, y_test_k = train_test_split(X, y, test_size=0.3)

In [70]:
knn = KNeighborsClassifier(n_neighbors=3) #create a KNN-classifier with 2 neighbors
knn = knn.fit(X_train_k, y_train_k)

In [71]:
knn

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [78]:
#Get the accuracy of the model (proportion correctly predicted cases)
knn.score(X_train_k, y_train_k);

#Get the confusion matrix, from which we can calculate precision and recall for each outcome
from sklearn.metrics import confusion_matrix

y_test_p = knn.predict(X_test_k) #the predicted values
cm = confusion_matrix(y_test_k, y_test_p) #creates a "confusion matrix"

conf_matrix = pd.DataFrame(cm, index=[' Survived', ' Not Survived'], columns = ['Prediction Survived', 'Prediction Not Survived'])

In [79]:
conf_matrix

               Prediction Survived  Prediction Not Survived
 Survived                      143                       17
 Not Survived                   46                       62

In [82]:
recall = 143 / (143 + 17)

In [83]:
recall

0.89375

In [84]:
Precision =  143 / (143 + 46)

In [85]:
Precision

0.7566137566137566

In [88]:
accuracy = (143 + 62) / (143 + 17 + 46 + 62)

In [89]:
accuracy

0.7649253731343284